:root {
  --first-backlight-color: #2196f3;
  --second-backlight-color: #ffffff;
  --headers-dark-color: #212121;
  --text-white-color: #ffffff;
  --text-color: #757575;
  --btn-fokus: #188ce8;
  --background-color: #2f303a;
  --background-filters-button: #f5f4fa;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  color: var(--heders-dark-color);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: center;
  border-bottom: solid 1px #ececec;
}

.logo {
  display: inline-block;
  text-decoration: none;
  font-family: Raleway;
  font-weight: var(--font-weight-bold);
  font-size: 26px;
  line-height: 1.19;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-bottom: 0;
  color: var(--first-backlight-color);
}
.logo-dark {
  text-decoration: none;
  font-family: Raleway;
  font-weight: var(--font-weight-bold);
  font-size: 26px;
  line-height: 1.19;
  color: black;
}
.nav-list {
  margin-left: 93px;
}
.nav-link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
}
header {
  border: 1px solid #ececec;
}
.header-contacts:hover {
  color: var(--first-backlight-color);
}
.header-contacts:focus {
  color: var(--first-backlight-color);
}

.header-contacts {
  text-decoration: none;
  font-weight: var(--font-weight-medium);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--text-color);
}
.header-contacts-list {
  list-style-type: none;
  display: flex;
  margin-left: auto;
}
.header-contacts-list .contacts-item + .contacts-item {
  margin-left: 50px;
}
.nav {
  font-weight: var(--font-weight-medium);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--heders-dark-color);
}
.nav-list {
  list-style-type: none;
  display: flex;
}
.nav-list .contacts-item + .contacts-item {
  margin-left: 50px;
}
.nav-link:hover {
  color: var(--first-backlight-color);
}
.nav-link:focus {
  color: var(--first-backlight-color);
}
.nav-link {
  text-decoration: none;
  font-weight: var(--font-weight-medium);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--headers-dark-color);
}

.nav-active {
  color: var(--first-backlight-color);
  text-decoration: none;
}

.hero {
  background-color: var(--background-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  padding-bottom: 30px;
  text-transform: uppercase;
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  color: var(--text-white-color);
}
.hero-button {
  font-weight: var(--font-weight-bold);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--text-white-color);
  background: var(--first-backlight-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 30px;
}
.hero-button:focus {
  background: var(--btn-fokus);
}
.hero-button:hover {
  background: var(--btn-fokus);
}

.conditions {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  padding-top: 94px;
  padding-bottom: 0px;
  color: var(--text-color);
}
.conditions-header {
  display: none;
}
.conditions-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.conditions-subtitle {
  font-weight: var(--font-weight-bold);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--headers-dark-color);
  padding-top: 0px;
  padding-bottom: 0px;
}
.conditions-text {
  font-size: 14px;
  line-height: 1.7;
  padding-top: 10px;
  padding-bottom: 0px;
  width: 270px;
  margin-right: auto;
  margin-left: auto;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.about-header {
  font-weight: var(--font-weight-bold);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 94px;
  padding-bottom: 0px;
}
.about-list {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  padding-top: 50px;
  padding-bottom: 0px;
}
.team {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 0px;
  color: var(--headers-dark-color);
}
.team-header {
  font-weight: var(--font-weight-bold);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 0px;
  padding-bottom: 0px;
}
.team-list {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 94px;
  list-style-type: none;
}
.team-photo {
  margin-bottom: 0px;
}
.team-name-border {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-top-style: none;
  border-radius: 0px 0px 4px 4px;
}
.team-name {
  font-weight: var(--font-weight-medium);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 30px;
  color: var(--headers-dark-color);
}
.team-photo {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 10px;
  padding-bottom: 30px;
  color: var(--text-color);
}
.footer-logo {
  display: inline-block;
  text-decoration: none;
  font-family: Raleway;
  font-weight: var(--font-weight-bold);
  font-size: 26px;
  line-height: 1.19;
  padding-top: 0px;
  padding-bottom: 20px;
  margin-bottom: 0;
  color: var(--first-backlight-color);
}
.logo-White {
  text-decoration: none;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--text-white-color);
}
address {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-white-color);
}
.adress-list {
  list-style-type: none;
}
.footer {
  background-color: var(--background-color);
  font-size: 14px;
  line-height: 1.19;
  padding-top: 60px;
  padding-bottom: 60px;
  color: var(--text-white-color);
}
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--second-backlight-color);
}
.footer-mail {
  text-decoration: none;
  font-size: 14px;
  line-height: height 1.71;
  letter-spacing: 0.03em;
  padding-top: 0px;
  padding-bottom: 9px;
  color: #ffffff99;
}
.footer-contacts {
  text-decoration: none;
  font-size: 14px;
  line-height: height 1.71;
  letter-spacing: 0.03em;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #ffffff99;
}
.footer-address:hover,
.footer-address:focus {
  color: var(--first-backlight-color);
}
.footer-address {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  padding-top: 0px;
  padding-bottom: 9px;
  color: var(--text-white-color);
}
/* portfolio */

.filters {
  font-weight: var(--font-weight-medium);
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.filters-title {
  display: none;
}
.filters-list {
  list-style-type: none;
}
.filters-button {
  font-weight: var(--font-weight-medium);
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
  background: var(--background-filters-button);
  border-radius: 4px;
  border: none;
}
.filters-button:focus {
  background: var(--first-backlight-color);
  color: var(--second-backlight-color);
}
.filters-button:hover {
  background: var(--first-backlight-color);
  color: var(--second-backlight-color);
}
.projekt-list {
  list-style-type: none;
}
.projekt-link {
}
.projekt-titl {
  font-weight: var(--font-weight-bold);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--headers-dark-color);
}
.project-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
